<!DOCTYPE html>
<html lang="en">
  <head>
    <title>GGG RESTAURANT &mdash;</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Oswald:400,700"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'fonts/icomoon/style.css')}}"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/bootstrap.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/jquery.fancybox.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/jquery-ui.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/owl.carousel.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/owl.theme.default.min.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/animate.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'fonts/flaticon/font/flaticon.css')}}"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/aos.css')}}"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/style.css')}}"
    />
  </head>

  <body>
    <div class="site-wrap">
      <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
      <!-- .site-mobile-menu -->

      <div class="container">
        <div class="row no-gutters site-navbar align-items-center py-3">
          <div class="col-md-6 site-logo">
            <a href="/">Golden Gate Restaurant Group</a>
          </div>
          <div class="col-md-6 text-right menu">
            <nav class="site-navigation text-right text-md-right">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class="btn-group">
                  <a
                    type="button"
                    class="btn btn-warning dropdown-toggle"
                    id="dropdownMenu2"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    >Nhà Hàng</a
                  >
                  <div
                    class="dropdown-menu"
                    aria-labelledby="dropdownMenu2"
                    style="background-color: #ffcc00"
                  >
                    <!-- <a class="dropdown-item" type="button" href="/crm_chuong_trinh_tai_app">CRM CT Tải APP TGS</a> -->
                    <a class="dropdown-item" type="button" href="#"
                      >Support Memo</a
                    >
                    <!-- <a class="dropdown-item" type="button" href="/" >Siêu Báo Cáo</a> -->
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/"
                      >Check Thông Tin Nhân Viên</a
                    >
                  </div>
                </li>

                <!-- <li class="btn-group">
              <a type="button" class="btn btn-warning dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Văn Phòng</a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="background-color: #FFCC00;">
                  <a class="dropdown-item" type="button" href="/tiep-khach-supperadmin">Tiếp Khách Admin</a>
                  <a class="dropdown-item" type="button">Báo Cáo Backup</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" >Separated link</a>
                </div>
          </li> -->
                <!-- 
          <li class="btn-group">
            <a type="button" class="btn btn-warning dropdown-toggle" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">QUẢN TRỊ</a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="background-color: #FFCC00;">
                <a class="dropdown-item" type="button" href="/tiep-khach-supperadmin">Tiếp Khách Admin</a>
                <a class="dropdown-item" type="button">Báo Cáo Backup</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" >Separated link</a>
              </div>
        </li> -->

                <li>{{USER1}}</li>
              </ul>

              <a
                href="#"
                class="
                  site-menu-toggle
                  js-menu-toggle
                  text-black
                  d-inline-block d-lg-none
                "
                ><span class="icon-menu h3"></span
              ></a>
            </nav>
          </div>
        </div>
      </div>

      <br />
      <!-- <h2 class="font-weight-bold" style="text-align:center;"> MEMO </h2> -->

      <form method="POST">
        <div class="container" align="center">
          <div class="row" align="center">
            <!-- <div class="col-md-6">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" placeholder="Mã Nhân Viên"
                                    aria-label="Recipient's username" aria-describedby="basic-addon2" required>
                                <div class="input-group-append">
                                    <button style="margin-top: auto;" class="btn btn-success"
                                        type="submit">Check</button>&emsp;
                                </div>
                            </div>
                        </div> -->

            <div class="col-md-6">
              <div class="input-group mb-3">
                <!-- <input type="text" class="form-control" list="brow" name="TH_OK">
                                <datalist id="brow">
                                  <option value="20R21KK011">
                                  <option value="20R21GG032">
                                  <option value="20R20CJ001">
                                  <option value="20R02CRM001">
                                  <option value="20R02XXX002">
                                </datalist>  -->

                <input
                  class="form-control"
                  name="manhanvien1"
                  id="manhanvien1"
                  type="text"
                  placeholder="Mã Nhân Viên Hoặc CMND"
                  required
                />

                <div class="input-group-append">
                  <button
                    id="div1"
                    style="
                      margin-top: auto;
                      background-color: green;
                      color: white;
                    "
                    class="form-control"
                    type="submit"
                  >
                    Check</button
                  >&emsp;
                </div>
              </div>
            </div>

            <!-- <div class="col-md-6">
            <input name="txtname_khach_hang" type="text" class="form-control" id="myInput" value=""
              placeholder="Tên Của Bạn">
          </div> -->
          </div>

          {{CHUOI_TIM_KIEM_DANH_SACH_NHAN_VIEN}}
        </div>
      </form>

      <br />
      <br />
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
      >
        Launch demo modal
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <div class="modal-body">...</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-bs-dismiss="modal"
              >
                Close
              </button>
              <button type="button" class="btn btn-primary">
                Save changes
              </button>
            </div>
          </div>
        </div>
      </div>
      <h4
        class="font-weight-bold"
        style="text-align: right; margin-right: 50px; color: red"
      >
        IT DEPT HCM
      </h4>
    </div>

    <script src="{{url_for('static', filename = 'js/jquery.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/jquery-migrate-3.0.1.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/jquery-ui.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/popper.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/owl.carousel.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/jquery.stellar.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/jquery.fancybox.min.js')}}"></script>
    <script src="{{url_for('static', filename = 'js/aos.js')}}"></script>

    <script src="{{url_for('static', filename = 'js/main.js')}}"></script>
    <script>
      $(document).ready(function () {
        $("#myInput").on("keyup", function () {
          var value = $(this).val().toLowerCase();
          $("#myTable tr").filter(function () {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
          });
        });
      });
    </script>
  </body>
</html>
