<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tuyển Dụng</title>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/base.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/main.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/grid.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/responsive.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'images/icons/fontawesome-free-5.15.4/css/all.css')}}"
    />

    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'js/bootstrap.bundle.min.js')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'js/bootstrap.min.js')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'js/popper.min.js')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename = 'css/bootstrap.min.css')}}"
    />
  </head>
  <body>
    <div class="main">
      <!-- Header Begin  -->
      <header class="header">
        <div class="grid wide">
          <div class="header__navbar">
            <!-- HEADER-LOGO Begin -->
            <div class="header__logo">
              <a href="/" class="header__logo-link">
                <img
                  src="{{url_for('static', filename = 'images/logos/logo.png')}}"
                  alt=""
                  class="header__logo-img"
                />
              </a>
            </div>
            <!-- HEADER-LOGO End -->

            <div class="header__login">
              <a class="header__logo-link">
                <i class="fas fa-sign-in-alt header__login-icon"></i>
              </a>
            </div>
          </div>
        </div>
      </header>
      <!-- Header End  -->

      <!-- Container Begin  -->
      <div class="container"></div>
      <!-- Container End  -->

      <!-- FOOTER BEGIN -->
      <!-- <footer class="footer"></footer> -->
      <!-- FOOTER End -->
    </div>

    <!-- Button trigger modal -->
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#exampleModal"
    >
      Launch demo modal
    </button>

    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">...</div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>

    <script></script>
  </body>
</html>
