.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fff, #fff);
}

.header__navbar {
  display: flex; /*Item nằm trên cùng 1 dòng*/
  justify-content: space-between; /*2 item cùng 1 hàng sẽ cách nhau xa*/
}
body,
html {
  height: 100%;
  font-size: 62.5%;
  line-height: 1.6rem; /*1rem bằng 10px khi setup font-size: 62.5%;*/
  font-family: "Roboto", sans-serif; /*sans-serif là thuộc tính chữ ko gạch chân*/
}
