body,
html {
  height: 100%;
  /* font-size: 62.5%; */
  line-height: 1.6rem; /*1rem bằng 10px khi setup font-size: 62.5%;*/
  font-family: "Roboto", sans-serif; /*sans-serif là thuộc tính chữ ko gạch chân*/
  background-color: #fff;
}

.header {
  height: var(--header-height);
  background-image: linear-gradient(0, #fff, #fff);
}

.header__navbar {
  display: flex; /*Item nằm trên cùng 1 dòng*/
  justify-content: space-between; /*2 item cùng 1 hàng sẽ cách nhau xa*/
  border-bottom: 2px solid #ccc;
}

.header__logo-img {
  width: 150px;
}

.header__login {
  height: 40px;
  width: 40px;
  margin-right: 10px;
}

.header__logo-link {
  text-decoration: none;
  color: transparent;
  padding: 0;
  display: block;
  line-height: 0;
}

.header__login-icon {
  font-size: 40px;
  color: rgb(255, 167, 2);
}
